<!DOCTYPE html>
<html>
<head>
    <title>Blog Posts</title>
</head>
<body>
    <h1>Blog Posts</h1>
    <a href="/new">Create New Post</a>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <h2><%= post.title %></h2>
                <p><%= post.content %></p>
                <a href="/edit/<%= post._id %>">Edit</a>
                <a href="/delete/<%= post._id %>">Delete</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
